{% extends 'base.html' %}
{% block title %}
Oops!
{% endblock %}

{% block body %}
    <style>
    body{
        background-image: url('http://www.404notfound.fr/assets/images/pages/img/androiddev101.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    </style>
    <a href="http://192.168.0.103:8080/issues" class="btn btn-lg btn-primary">Get back to homepage</a>
{% endblock %}

{% block modal %}
{% endblock %}

{% block  zabbix %}
{% endblock %}