{% extends 'issues.html' %}


{% block cdn %}
{{ super() }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}

{% block navtabs %}
    <li class="pull-right" role="presentation"><a href="#stat" aria-controls="stat" role="tab" data-toggle="tab">Stat</a></li>
{% endblock %}

{% block tabpannel %}
    <div role="tabpanel" class="tab-pane" id="stat">
    {% include 'chart_summary.html' %}
    </div>
{% endblock %}